body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container1{
    background-color: rgb(136, 136, 196);
    font-size: 1.2rem;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: white;
}
#plus{
    color: green;
}
#minus{
    color: red;
}
#reset{
    color: rgb(63, 164, 197);
}